.body {
  height: 500px;
  width: auto;
}
.img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  height: 10rem;
  position: relative;
  right: 1.5rem;
}
.container {
  display: flex;
  padding-top: 3rem;

  gap: 5rem;
}
.b1 {
  min-width: 17rem;
}
.b2 {
  min-width: 17rem;
}
.b3 {
  min-width: 17rem;
}

.description {
  color: #485256;
  padding-top: 24px;
}
